/*
Draw something / Js Paint
Author: Luke Davies
* Luke Davies
*/

* {
box-sizing:border-box;
-moz-box-sizing:border-box;
font-family: sans-serif;
user-select:none;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
}

body {
margin: 0;
}

#canvas {
display: block;
}

#toolbox {
width: 100%;
height: 55px;
padding: 12px;
position: fixed;
top: 0;
background: #2f2f2f;
color: #fff;
}

.radcontrol {
width: 30px;
height: 30px;
background: #4f4f4f;
display: inline-block;
text-align: center;
padding: 5px;
cursor: pointer;
margin-left: 5px;
}

#decrad {
background-color: #800000;
}

#incrad {
background-color: #32CD32;
}


#radius {
float: left;
}

#colour-pallet {
float: right;
}

.colour {
width: 30px;
height: 30px;
border-radius: 5px;
display: inline-block;
margin-left: 12px;
}

.colour.active {
border: 2px solid #fff;
}

#save {
float: right;
margin-right: 20px;
cursor: pointer; 
height: 30px;
padding: 8px;
background-color: #32CD32;
color: #fff;
font-size: 14px;
}


#save:hover {
background-color: #818181;
}

#clear {
float: right;
margin-right: 10px;
cursor: pointer; 
height: 30px;
padding: 8px;
background-color: #800000;
}